:root{
    --blue: #407BFF;
}

p{
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.footer__row{
    height: 100%;
}

.footer__ppal{
    height: 50px;
    background-color: var(--blue) ;
    color: white;
}

.text-col{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-col span{
    font-size: 1.5rem;
    height: fit-content;
}

@media all and (max-width: 426px) {
    .footer__ppal{
        height: 30px;
        background-color: var(--blue) ;
        color: white;
    }
    .text-col span{
        font-size: 2rem;
    }
}