a.deco-none {
    color:#000000 !important;
    text-decoration:none;
}

.modalLink{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #a2a1a1;
    border-radius: 20px;
    height: 170px;
    width: 170px;
    margin: 0 10px;
    padding: 10px;
}

.modalLink__logo{
    justify-content: center;
}

.modalLink__text{
    color: #626161;
}

.modalLink__logo-svg{
    fill: #33B13A;
    height: 80px;
    width: 80px;
}
