::root{
    --blue: #407BFF;
}

.topic-arrow-svg{
    fill: var(--blue);
    font-weight: 900;
}

.topic:hover .topic-arrow-svg{
    fill: white;
}

.topic-arrow-svgBack{
    fill: white;
    font-weight: 900;
}

.materias{
    margin: 0 0 80px 0;
}

.topic{
    width: 450px;
    height: 70px;
    margin: 5px 0 25px 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.topics__image-img{
    height: 50px;
}