@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root{
    --blue: #407BFF;
}

.subjects{
    height: 100%;
    margin-bottom: 50px ;
}

.subjects__badge{
    padding: 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 20px;
}

.subjects__badge-img{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2%;
    border-radius: 100%;
    height: fit-content;
    width: fit-content;
    background-color: white;
    margin-bottom: 20px;
}

.subjects__badge-img img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.subjects__badge-info-text{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
}

.subjects__topics-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.subjects__topics-title-text{
    color: var(--blue);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 4rem
}

.subjects__topics-elements{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media all and (max-width: 992px) {
    html{
        font-size: 9px !important;
    }
    .subjects__badge-img img{
        width: 180px;
        height: 180px;
    }
}

@media all and (max-width: 767px) {
    .subjects__topics{
        margin: 20px 0;
    }
    .subjects__topics-elements{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    .subjects__badge-img img{
        width: 170px;
        height: 170px;
    }
}

@media all and (max-width: 580px) {
    html{
        font-size: 7px !important;
    }
    .subjects__badge-img img{
        width: 160px;
        height: 160px;
    }
}

@media all and (max-width: 426px) {
    html{
        font-size: 6px !important;
    }
    .subjects__badge-img img{
        width: 150px;
        height: 150px;
    }

}

@media all and (max-width: 375px) {
    html{
        font-size: 6px !important;
    }
    .subjects__badge-img img{
        width: 140px;
        height: 140px;
    }
}

@media all and (max-width: 320px) {
    html{
        font-size: 5.5px !important;
    }
    .subjects__badge-img img{
        width: 130px;
        height: 130px;
    }
}