.Overlay__topicPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

.modal__topicPopup{
    border-radius: 10px;
    position: absolute;
    padding: 20px 0;
    top: 2%;
    left: 2%;
    right: 2%;
    bottom: 2%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    /* max-height: 100vh;    */
}

.modal__header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5%;
    padding: 0 20px;
}

.modal__header-loho{
    height: 8px;
    width: 8px;
}

.modal__header-button{
    background-color: transparent;
    border: none
}

.modal__video{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    max-height: 80vh;
    width: 90vw; 
    height: 45vw;
    margin: 0 auto;
}

.modal__video-iframe {
    height: 100%;
    width: 100%;
}

.modal__footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 5%;
}

.modal__footer-button{
    height: 40px;
}